* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header, .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.header {
  background-image: linear-gradient(rgba(87, 60, 250,1), 70%, rgba(87, 60, 250, 0));
}

.header, .header-container {
  height: 150px;
}

.header-container {
  width: auto;
  color: white;
}

ul {
  margin-right: 30px;
}

.info-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin: 20px;
}

.find-info {
  margin-top: 40px;
}

.info-popup {
  position: absolute;
  max-width: 500px;
  width: 400px;
  background-color: white;
  border-radius: 2%;
  top: 25%;
  left: 50%;
  margin-left: -200px;
  padding: 20px;
  text-align: center;
  transform: scale(1);
  visibility: visible;
  transition: transform 0.4s, top 0.4s;
}

.closed-pop {
  top: 10%;
  left: 17%;
  transform: translate(-150%, -50%) scale(0.1);
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
}

.close-btn {
  width: 30%;
  height: 40px;
}

.git-btn {
  width: 90px;
  height: 35px;
}

.close-btn, .git-btn {
  font-size: 22px;
  background: rgba(87, 60, 250,1);
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 20px;
  color: white;
  border: none;
}

h1 {
  font-size: 25px;
}

h1, h3 {
  text-align: center;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
}

.header, #main, #map, html {
  width: 100%;
  height: 100%;
}

.fire-icon {
  margin-right: 20px;
}

#left-bar{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  width: 30%;
  margin-left: 3%;
}

#story, #legend {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 2%;
}

#story {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.info-popup, #story {
  overflow-y: auto;
  overflow-x: 0;
}

.story-sec, .intro-sec {
  width: 100%;
}

.story-text {
  font-size: 16px;
  text-align: center;
}

.map-btns, #toggle-btns, .selected {
  height: 50px;
}

.map-btns, .selected {
  width: 150px;
}

.map-btns, .yr-btns {
  cursor: pointer;
  border: none;
  color: rgba(152, 152, 152, 1);
}

.map-btns:hover, .yr-btns:hover, .story-sec:hover {
  background-color: rgb(85, 85, 85);
  color: white;
  transition: 0.4s;
}

.story-sec:hover {
  cursor: pointer;
}

.selected, .selected-yrs {
  cursor: pointer;
  border: none;
  background-color: #573CFA;
  color: white;
}

.selected:hover, .selected-yrs:hover {
  background-color: rgb(100, 11, 184);
  color: white;
  transition: 0.4s;
}

.yr-btns, .selected-yrs {
  height: 40px;
}

.yr-btns, .selected-yrs {
  width: 60px;
}

.first {
  border-radius: 10px 0 0 10px;
}

.last {
  border-radius: 0 10px 10px 0;
}

#toggle-btns, #years{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: auto;
}

#toggle-btns {
  margin-left: 50%;
}

.links {
  position: absolute;
  left: 40px;
}

a, a:visited {
  color: white;
  font-size: 20px;
}



#years {
  left: 35%;
  top: 85%;
  width: 960px;
  height: 80px;
}

#legend {
  display: flex;
  margin-top: 20px;
  height: 25%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  width: 30%;
}

.dot {
  display: inline-block;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 0.6;
}

.legend-key {
  display: inline-block;
  margin-left: 20px;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

b{
  text-align: center;
  margin-bottom: 5px;
}

.child{
  flex-grow: 1;
}

.story-head, .story-text {
  width: 100%;
}

.story-sec, .intro-sec {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#map-toggle {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  max-width: 270px;
  max-height: 180px;
  margin-left: 85%;
}

.top-left {
  border-radius: 5px 0 0 0;
}

.top-right {
  border-radius: 0 5px 0 0;
}

.bot-left {
  border-radius: 0 0 0 5px;
}

.bot-right {
  border-radius: 0 0 5px 0;
}

/*------------------------------Custom Scrollbar------------------------------*/
::-webkit-scrollbar {
  width: 7px;
  padding-top: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
/*----------------------------------------------------------------------------*/